@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-pink: hsl(340, 70%, 62%);
  --light-pink: hsl(340, 77%, 65%);
  --very-dark-gray: hsl(207, 10%, 23%);
  --dark-gray: #3c4249;
  --medium-gray: #9a9fa7;
  --light-gray: #dde1e4;
}

body {
  height: 100vh;
  background: linear-gradient(-15deg, var(--dark-pink) 50%, var(--light-pink) 50%) fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  color: var(--light-gray);
  padding: 3.5rem 0;
}

a {
  text-decoration: none;
  color: var(--light-gray);
}

main {
  position: relative;
  background-color: var(--dark-gray);
  width: 64vh;
  min-height: 80vh;
  border-radius: 0.5rem;
  overflow-y: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 18%;
  text-align: center;
  border-bottom: 2px solid var(--very-dark-gray);
  font-weight: 500;
}

nav a {
  display: block;
  width: 100%;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--medium-gray);
  padding: 1.2rem 0;
}

nav a:hover {
  border-bottom: 2px solid var(--light-pink);
  color: var(--light-gray);
  transition: color 500ms, border-color 500ms;
}

.active {
  border-bottom: 2px solid var(--light-pink);
  color: var(--light-gray);
}

.date-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-gray);
  text-align: center;
  padding: 10% 28%;
}

.date-section h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.date-section p {
  color: var(--medium-gray);
  font-weight: 500;
}

.left-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' %3E%3Cpath fill='%239a9fa7' d='M37.9 46 24.1 32.3l13.8-13.7 2 2-11.8 11.7L39.9 44l-2 2' class='color134563 svgShape'/%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.right-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' %3E%3Cpath fill='%239a9fa7' d='m26.1 46-2-2 11.8-11.7-11.8-11.7 2-2 13.8 13.7L26.1 46' class='color134563 svgShape'/%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.left-icon:hover,
.right-icon:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(82%) sepia(10%) saturate(74%) hue-rotate(163deg) brightness(109%)
    contrast(92%);
}

.add-task {
  display: flex;
  justify-content: center;
}

.task-section {
  height: 400px;
  width: 75%;
  margin: 0 auto;
  overflow: auto;
}

.task-section::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  width: 75%;
  position: relative;
  background: var(--very-dark-gray);
  height: 2.5rem;
  outline: none;
  color: var(--medium-gray);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 1.2rem 8px 1.2rem 46px;
  border-radius: 5px;
  border: 2px solid hsl(207, 10%, 20%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath fill='none' stroke='%239a9fa7' stroke-linecap='round' stroke-linejoin='round' stroke-width='8' d='M40 68h176M40 108h128M40.01 148H216M40.01 188H168' class='colorStroke000 svgStroke'/%3E%3C/svg%3E")
    8px center/30px no-repeat;
}

input:focus,
input:hover {
  color: var(--light-gray);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' width='288' height='288'%3E%3Crect width='256' height='256' fill='none' /%3E%3Cline x1='40' x2='216' y1='68' y2='68' fill='none' stroke='%23dde1e4' stroke-linecap='round' stroke-linejoin='round' stroke-width='8' class='colorStroke000 svgStroke' /%3E%3Cline x1='40' x2='168' y1='108' y2='108' fill='none' stroke='%23dde1e4' stroke-linecap='round' stroke-linejoin='round' stroke-width='8' class='colorStroke000 svgStroke' /%3E%3Cline x1='40.006' x2='216' y1='148' y2='148' fill='none' stroke='%23dde1e4' stroke-linecap='round' stroke-linejoin='round' stroke-width='8' class='colorStroke000 svgStroke' /%3E%3Cline x1='40.006' x2='168' y1='188' y2='188' fill='none' stroke='%23dde1e4' stroke-linecap='round' stroke-linejoin='round' stroke-width='8' class='colorStroke000 svgStroke' /%3E%3C/svg%3E")
    8px center/30px no-repeat;
}

input::placeholder {
  font-style: italic;
}

.task {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  margin-top: 1.5rem;
}

.menu {
  color: var(--light-gray);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 29 29' xml:space='preserve' %3E%3Ccircle cx='14.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3Ccircle cx='4.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3Ccircle cx='24.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3Ccircle cx='14.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3Ccircle cx='4.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3Ccircle cx='24.5' cy='14.5' r='2.5' fill='%239a9fa7' class='color000 svgShape' /%3E%3C/svg%3E")
    center right/26px no-repeat;
  width: 100%;
  height: 100%;
}

.menu:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 29 29' xml:space='preserve' %3E%3Ccircle cx='14.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3Ccircle cx='4.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3Ccircle cx='24.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3Ccircle cx='14.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3Ccircle cx='4.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3Ccircle cx='24.5' cy='14.5' r='2.5' fill='%23dde1e4' class='color000 svgShape' /%3E%3C/svg%3E");
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
  outline: none;
  background: var(--medium-gray);
  border: 2px solid hsl(207, 10%, 20%);
}

input[type="checkbox"]:hover {
  outline: none;
  /* background: var(--medium-gray); */
  background: red;
  border: 2px solid hsl(207, 10%, 20%);
}

hr {
  border: 1px solid var(--very-dark-gray);
  margin-top: 1.2rem;
}

.task-memo {
  color: var(--medium-gray);
  font-size: 0.9rem;
  margin-top: 0.8rem;
}
